/* @tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: tahoma;
  src: url("./tahoma.ttf");
} */

/* .add_dmlEntry button{
  display: none;
}
.add_dmlEntry:hover button{
  display: block;
} */

/* @layer components {
  .DML th, 
  .DML td,
  div,
  label {
    @apply text-sm
  }
}

@layer components{
  .DML .dmlEntry td {
    @apply align-top
  }
} */
